<!DOCTYPE html>
 <html> 
<head> 
<title>To Do List</title> 
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"> 
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"> 
<link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'> 
</head> 
<body> 
<div class='jumbotron'> 
<h1>To Do List</h1>
 </div> 
   <nav class="navbar navbar-default"> 
   <div class="container-fluid">
<div class="navbar-header"> 
<li><a> class="navbar-brand" href="{% url 'index' %}">To Do List</a> 
<li><a href="{% url 'types' %}">Due Dates</a></li>
</div> 
<ul class="nav navbar-nav"> 
  <li><a href="{% url 'types' %}">To-Do Lists</a></li>
  <li><a href="{% url 'products' %}">Due Dates</a></li>
  <li><a href="{% url 'newlist' %}">New List</a></li>
  <li><a href="{% url 'login' %}">Login</a></li>
  <li><a href="{% url 'logout' %}">Logout</a></li>
</ul>
<!DOCTYPE html>
<html> 
<head> 
<title>To Do List</title> 
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"> 
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"> 
<link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'> 
</head> 
<body> 
<div class='jumbotron'> 
<h1>To Do</h1>
</div> 
  <nav class="navbar navbar-default"> 
  <div class="container-fluid">
<div class="navbar-header"> 
<a class="navbar-brand" href="{% url 'index' %}">To Do</a> 
</div> 
<ul class="nav navbar-nav"> 
    <li><a href="{% url 'types' %}">To Do List</a></li>
</ul> 
</div> 
</nav> 
<div class="container-fluid"> 
{% block content %} 

{% endblock content %} 
</div> 
</body> 
</html> 
</div> 
</nav> 
<div class="container-fluid"> 
{%block text%} 

{%endblock text%} 
</div> 
</body> 
</html>
